.root, html, body {
    margin: 0;
  }
  .App {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    margin: 0;
    background-color: rgb(226, 226, 220);
  }
  
.update-section {
    margin-top: 30px;
}

.dashboard-header {
    margin-bottom: 20px;
}