
button {
      font-weight: bold;
      color: black;
      border-radius: 15px;
      height: 30px;
}


/* Carousel Styles */

.carousel-card {
  margin: 0 auto;
  width: 70%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 12px;
  padding: 15px;
}

.carousel-container {
  height: 300px;
}

.alice-carousel {
  height: 100%;
}

.alice-carousel div:first-child {
  height: 100%;
}

.alice-carousel__stage-item {
  height: 80%;
}

.alice-carousel__wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.alice-carousel__next-btn {
  position: absolute;
  top: 25%;
  right: 2%;
  display: flex;
  justify-content: center;
  width: 50px;
}

.alice-carousel__next-btn-item {
  background-color: white;
  padding: 30px 20px;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 8px 5px rgba(0, 0, 0, 0.22);

}

.alice-carousel__prev-btn-item {
  background-color: white;
  padding: 30px 20px;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 8px 5px rgba(0, 0, 0, 0.22);

  
}

.alice-carousel__prev-btn {
  position: absolute;
  top: 25%;
  left: 2%;
  display: flex;
  justify-content: center;
  width: 50px;
}
