@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      border: 2px solid black;
      height: 300px;
      padding: 0px 50px;
      border-radius: 15px;
      vertical-align: middle;
      justify-content: center;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      /* align-items: center; */
    }
    
    .form-label {
        font-weight: bold;
        padding-right: 20px;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        align-items: center;
    }

    button {
      font-weight: bold;
      color: black;
      border-radius: 7.5px;
      height: 30px;
    }
}